<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunladder.view">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".sample.ExpandTextViewAct">
        </activity>
        <activity android:name=".sample.TantanBrowserAct">
        </activity>
        <activity android:name=".sample.PicPanelAct">
        </activity>
        <activity android:name=".coordinator.ClayoutNormalActivity">
        </activity>
        <activity android:name=".constraint.TestConstraintActivity">
        </activity>
    </application>

</manifest>